name: Terraform Deploy
on:
 # push:
  #  branches: [ main ]
   # paths:
    #  - "app/**"
     # - ".github/workflows/build-push.yml"
    workflow_dispatch:

permissions:
  id-token: write     
  contents: read   

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  TF_VERSION: ${{ secrets.TF_VERSION }}
  DOMAIN_NAME: ${{ secrets.DOMAIN_NAME }} 

jobs:
  deploy:
    name: Terraform init, plan, apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra    

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ secrets.TF_VERSION }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      run: terraform apply -auto-approve

    - name: Wait 60 seconds
      run: sleep 60

    - name: Post-deploy health check
      run: |
        echo "Checking application health..."
        curl -f https://tm.${DOMAIN_NAME}/health.json